.root {
    display: flex;
    height: 1476px;
    .appBar {
        z-index: 1;
        transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    }

    .appBar-shift {
        width: calc(100% - 240px);
        margin-left:240px;
    }

    .menu-button{
        margin-right: 36px,
    }

    .hidden{
        display:none;
    }

    .drawer{
        width: 240px;
        flex-shrink: 0;
        white-space: nowrap;
    }

    .drawer-open{
        width: 240px;
        transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    }

    .drawer-close{
        transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
        z-index:0;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 57px;
        @media screen and (min-width:600px){
            width:73px;
        }
    }

    .tool-bar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0,8px;
        min-height:56px;
        @media screen and (min-width:0) and (orientation:landscape){
            min-height: 48px;
        }
        @media screen and (min-width:600px) {
            min-height: 64px;
        }
    }

    .content {
        flex-grow: 1;
        padding: 24px;
    }

    .hightlight_bar {
        background-color: $light-blue;
        box-shadow: 0 12px 20px -10px rgba(0,172,193,.28), 0 4px 20px 0 rgba(0,172,193,.12), 0 7px 8px -5px rgba(0,172,193,.2);
        &:hover,
        &:focus {
          background-color: $light-blue;
          box-shadow: 0 12px 20px -10px rgba(0,172,193,.28), 0 4px 20px 0 rgba(0,172,193,.12), 0 7px 8px -5px rgba(0,172,193,.2);
        }
    }

    .white_font{
        color: $whiteColor;
    }
    .icon_color{
        color: $iconColor;
    }
    .divline_color{
        background-color: $divlineColor;
    }
    .NavLink_text{
        font-weight: 400;
        margin: 0;
        line-height:30px;
        font-size: 14px;
        color: $whiteColor;
    }
   
    .NavLink_button {
        width: auto;
        transition: all 300ms linear;
        margin: 10px 8px 0;
        border-radius: 3px;
        padding: 10px 15px;
        font-weight: 300;
        line-height: 1.5em;
        @media screen and (max-width: 600px){
            padding: 10px 8px;
        }
    }

    .NavLink_item {
        display: block;
        text-decoration: none;
        &:hover,
        &:focus,
        &:visited {
          color: $whiteColor;
        }
    }

    .NavLink_background {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
        &:after {
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          content: '""';
          display: block;
          background: #000;
          opacity: 0.8;
        }
      }
}